@charset "UTF-8";

/*-- root --*/
:root {
  /* 色管理用の変数 */
  --white-color: #fdfdfd;
  --black-color: #414546;
  --primary-color: #e3eeed;
  --auxiliary-color: #6d807e;
  --accent-color: #c97562;
}

:root {
  /* コンテンツ幅管理用の変数 */
  --content-width-sm: 800px;
  --content-width: 960px;
  --content-width-lg: 1080px;
}

:root {
  /* z-index管理用の変数 */
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-page-top: 50;
  --z-index-header: 100;
  --z-index-menu: 150;
  --z-index-modal: 200;
}

:root {
  --font-family-main: "Zen Maru Gothic", serif;
  --font-family-head: "Zen Kaku Gothic New", sans-serif;
  --font-family-en: "Comfortaa", sans-serif;
}

/*---------- body ----------*/

body {
  color: var(--black-color);
  font-family: var(--font-family-main);
  /*メイン*/
  font-size: 14px;
  line-height: 1.5;
  background: var(--primary-color);
}

/* ----------utility---------- */

.u_dn {
  display: none;
}
.u_emphasis {
  font-weight: bold;
}

/* ----------layout---------- */
.l_container-sm,
.l_container-lg,
.l_container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

.l_container-sm {
  max-width: calc(var(--content-width-sm) + 32px);
}

.l_container {
  max-width: calc(var(--content-width) + 32px);
}

.l_container-lg {
  max-width: calc(var(--content-width-lg) + 32px);
}

.l_contents {
  padding: 120px 0;
}
.l_contents_bg {
  padding: 95px 0;
}

/* header */
.l_header {
  background: var(--white-color);
  padding: 16px 16px 0 16px;
  display: flex;
  align-items: center;
  z-index: var(--z-index-header);
  position: sticky;
  top: 0;
  width: 100%;
}
.l_header_logo {
  font-family: var(--font-family-en);
  font-size: 20px;
  font-weight: 500;
  flex-grow: 1;
}
.l_header_nav {
  display: none;
}

.l_header_btn {
  font-size: 12px;
}

.l_header_bg {
  top: 100%;
}

/* ----------module---------- */

/* ハンバーガー */
.m_hamburger {
  width: 25px;
  height: 16px;
  position: relative;
  margin-left: 12px;
}

@media screen and (min-width: 1080px) {
  .m_hamburger {
    display: none;
  }
}

.m_hamburger-bar {
  width: 100%;
  height: 1px;
  position: absolute;
  background: var(--black-color);
  left: 50%;
}

.m_hamburger-bar:first-child {
  top: 0;
  transform: translate(-50%, 0);
}

.m_hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.m_hamburger-bar:last-child {
  top: 100%;
  transform: translate(-50%, -100%);
}

/* ボタン */
.m_btn {
  border-radius: 100vh;
  background: var(--accent-color);
  color: var(--white-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
}
.m_btn__mail::before {
  content: "";
  background: url(../img/mail_icon.svg) no-repeat center / cover;
  width: 16px;
  height: 13px;
  margin-right: 8px;
}

.m_btn__more::after {
  content: "";
  mask: url(../img/arrow.svg) no-repeat center / cover;
  width: 14px;
  height: 14px;
  margin-left: 8px;
  background-color: var(--white-color);
}

.m_link {
  color: var(--accent-color);
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.m_link::after {
  content: "";
  background: url(../img/arrow.svg) no-repeat center / cover;
  width: 15px;
  height: 15px;
  margin-left: 4px;
}

/* セクションタイトル */
.m_section_ttl {
  font-family: var(--font-family-head);
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.1em;
}
.m_section_ttl::before {
  display: block;
  font-size: 48px;
  font-weight: bold;
  color: var(--auxiliary-color);
  font-family: var(--font-family-head);
}
.m_section_ttl__concept::before {
  content: "concept";
}
.m_section_ttl__service::before {
  content: "service";
}
.m_section_ttl__about::before {
  content: "about";
}
.m_section_ttl__works::before {
  content: "works";
}
.m_section_ttl__process::before {
  content: "process";
}
.m_section_ttl__pricing::before {
  content: "pricing";
}

/* svg背景 */

.m_svg {
  fill: var(--white-color);
  position: absolute;
  left: 0;
  width: 100%;
}
.m_section_bg-top {
  top: -24px;
  transform: rotate(180deg);
}
.m_white_bg {
  position: relative;
  background: var(--white-color);
  margin: 25px 0;
}

/* ----------top---------- */
.top_kv {
  height: calc(100vh - 200px);
  font-family: var(--font-family-head);
  padding: 0 16px;
  background: var(--white-color);
  position: relative;
}
.top_kv_box {
  position: absolute;
  top: calc(25px + 20px);
  left: 16px;
}
.top_kv_copy {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.top_kv_msg-inner {
  margin-top: 120px;
  letter-spacing: 0.1em;
}
.top_kv_msg:not(:first-child) {
  margin-top: 16px;
}
.top_kv_bg {
  top: 100%;
}

/* スクロールダウン */
.top_scroll_down {
  position: absolute;
  bottom: 0px;
  left: 50%;
}
.top_scroll_down-txt {
  position: absolute;
  left: 4px;
  bottom: 95px;
  color: var(--auxiliary-color);
  font-size: 12px;
  font-family: var(--font-family-en);
  letter-spacing: 0.2em;
  writing-mode: vertical-lr;
}
.top_scroll_down:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 11px;
  height: 11px;
  border-radius: 100vh;
  background: var(--auxiliary-color);
  animation: circlemove 3s ease-in-out infinite,
    cirlemovehide 3s ease-out infinite;
}
@keyframes circlemove {
  0% {
    bottom: 160px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.top_scroll_down:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 160px;
  background: var(--auxiliary-color);
}

/* top_concept */
.top_concept {
  margin-top: 140px;
}
.top_concept_content-box {
  margin-top: 84px;
}
.top_concept_content:not(:first-child) {
  margin-top: 84px;
}

.top_concept_head {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  padding-left: 16px;
}
.top_concept_head::before {
  font-size: 40px;
  opacity: 0.2;
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: bold;
}
.top_concept_head__1::before {
  content: "01";
}
.top_concept_head__2::before {
  content: "02";
}
.top_concept_head__3::before {
  content: "03";
}

.top_concept_txt {
  line-height: 2;
  margin-top: 16px;
}

/* top_service */

.top_service_content-box {
  margin-top: 64px;
}
.top_service_content:not(:first-child) {
  margin-top: 56px;
}

.top_service_head {
  text-align: center;
  font-weight: bold;
}
.top_service_head-num {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
}
.top_service_head-num::before {
  content: "";
  position: absolute;
  background: url(../img/bubble02.svg) no-repeat center / cover;
  width: 36px;
  height: 39px;
}
/* 数字自体の余白を調整 */
.top_service_head-inner {
  margin-bottom: 4px; /* 吹き出し内で下げる */
  font-size: 20px;
  color: var(--auxiliary-color);
}
.top_service_head-txt {
  font-size: 16px;
  margin-top: 4px;
  letter-spacing: 0.1em;
  display: inline-block;
}

.top_service_img-wrapper {
  width: 150px;
  height: 150px;
  margin: 12px auto 0 auto;
}
.top_service_img {
  width: 100%;
  height: 100%;
}

.top_service_txt {
  margin-top: 12px;
  line-height: 1.8;
}
.top_service_example {
  font-size: 12px;
  margin-top: 8px;
}

.top_service_note {
  font-weight: 500;
  margin-top: 56px;
  letter-spacing: 0.1em;
}
.top_service_btn {
  margin-top: 40px;
  text-align: center;
}

/* top_about */

.top_about_desc {
  margin-top: 64px;
}
.top_about_img-wrapper {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.top_about_img {
  width: 100%;
  height: 100%;
}
.top_about_txts {
  margin-top: 32px;
}
.top_about_txt:not(:first-child) {
  margin-top: 24px;
}

/* top_works */

.top_works_content-box {
  margin-top: 64px;
}
.top_works_content:not(:first-child) {
  margin-top: 56px;
}

.top_works_desc {
  margin-top: 16px;
}
.top_works_client {
  font-size: 12px;
}
.top_works_title {
  font-weight: bold;
}
.top_works_tug {
  font-size: 12px;
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.top_works_tug::before {
  content: "";
  background: url(../img/tug_icon.svg) no-repeat center / cover;
  width: 15px;
  height: 15px;
  margin-right: 4px;
}
.top_works_link {
  margin-top: 12px;
}
.top_works_btn {
  margin-top: 64px;
  text-align: center;
}

/* top_proces */

.top_process_content-box {
  margin-top: 64px;
}
.top_process_content {
  text-align: center;
  position: relative;
}
.top_process_content::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 24px;
  width: 1px;
  height: 80px;
  background-color: var(--auxiliary-color);
}
.top_process_content:last-child:before {
  content: none;
}
.top_process_content:not(:first-child) {
  padding-top: calc(80px + 24px + 32px);
  /* 棒の長さ + 棒とテキストの余白 + content同士の余白 */
}

.top_proces_num {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
  width: 45px;
  height: 45px;
  background: var(--auxiliary-color);
  border-radius: 100vh;
  margin: 0 auto;
}

.top_process_img-wrapper {
  height: 100px;
  margin-top: 8px;
}
.top_process_img {
  height: 100%;
  width: auto;
}
.top_process_head {
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
}

.top_process_note {
  margin-top: 56px;
}
.top_process_btn {
  margin-top: 64px;
  text-align: center;
}

/* top_pricing */

.top_pricing_note {
  margin-top: 64px;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 500;
}
.top_pricing_btn {
  margin-top: 64px;
  text-align: center;
}

.top_pricing_num {
  width: 45px;
  height: 45px;
  background: var(--auxiliary-color);
  border-radius: 100vh;
  font-size: 20px;
  font-weight: bold;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 56px auto 0;
  position: relative;
  z-index: var(--z-index-menu);
}
.top_pricing_inner {
  position: relative;
  padding: 12px 0 24px;
}
.top_pricing_inner::before {
  content: "";
  position: absolute;
  border: 2px solid var(--auxiliary-color);
  top: -22.5px;
  width: 100%;
  height: calc(100% + 22.5px); /* 上に伸ばす分含める */
  border-radius: 20px;
}

.top_pricing_head {
  text-align: center;
  margin-top: 12px;
}
.top_pricing_head__sub,
.top_pricing_head__main {
  display: block; /* ←ブロックにすることで縦並びに */
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
    transparent 0%,
    transparent 50%,
    rgba(109 124 128 / 0.2) 50%,
    rgba(109 124 128 / 0.2) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.top_pricing_head__sub {
  font-size: 12px;
}
.top_pricing_head__main {
  font-size: 16px;
  margin-top: 4px;
}

.top_pricing_price {
  margin-top: 8px;
  color: var(--auxiliary-color);
  text-align: center;
  font-weight: bold;
}
.top_pricing_price-symbol {
  font-size: 24px;
}
.top_pricing_price-value {
  font-size: 36px;
}
.top_pricing_price-unit {
  font-size: 16px;
}

.top_pricing_msg {
  margin-top: 8px;
  text-align: center;
}
