@charset "UTF-8";

/*-- root --*/
:root {
  /* 色管理用の変数 */
  --white-color: #fdfdfd;
  --black-color: #414546;
  --primary-color: #e3eeed;
  --auxiliary-color: #6d807e;
  --accent-color: #c97562;
}

:root {
  /* コンテンツ幅管理用の変数 */
  --content-width-sm: 800px;
  --content-width: 960px;
  --content-width-lg: 1080px;
}

:root {
  /* z-index管理用の変数 */
  --z-index-back: -1;
  --z-index-default: 1;
  --z-index-page-top: 50;
  --z-index-header: 100;
  --z-index-menu: 150;
  --z-index-modal: 200;
}

:root {
  --font-family-main: "Zen Maru Gothic", serif;
  --font-family-head: "Zen Kaku Gothic New", sans-serif;
  --font-family-en: "Comfortaa", sans-serif;
}

/*---------- body ----------*/

html {
  scroll-behavior: smooth;
}
body {
  color: var(--black-color);
  font-family: var(--font-family-main);

  /*メイン*/
  font-size: 14px;
  line-height: 1.5;
  background: var(--primary-color);

  /* ページ遷移用 */
  opacity: 0;
  pointer-events: none;
}
body.is-show {
  opacity: 1;
  pointer-events: auto;
}
.white_body {
  background: var(--white-color);
}

/* ----------utility---------- */

.u_dn-sp {
  display: none;
}
@media screen and (min-width: 768px) {
  .u_dn-tab {
    display: none;
  }
}
@media screen and (min-width: 1080px) {
  .u_dn-sp {
    display: block;
  }
  .u_dn-pc {
    display: none;
  }
}

.u_emphasis {
  font-weight: bold;
}

/* ----------layout---------- */
.l_container-sm,
.l_container-lg,
.l_container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

.l_container-sm {
  max-width: calc(var(--content-width-sm) + 32px);
}

.l_container {
  max-width: calc(var(--content-width) + 32px);
}

.l_container-lg {
  max-width: calc(var(--content-width-lg) + 32px);
}

.l_contents {
  padding: 120px 0;
}
.l_contents_bg {
  padding: 95px 0;
}

/* header */
.l_header {
  background: var(--white-color);
  padding: 16px 16px 1px;
  display: flex;
  align-items: center;
  z-index: var(--z-index-header);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1080px;
  transition: none;
}
@media screen and (min-width: 1080px) {
  .l_header {
    background: none;
    padding: 24px 0 0;
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.is-resize .l_header {
  transition: top 0.8s ease-out, background 0.8s ease-out;
}
@media screen and (min-width: 1080px) {
  .is-resize .l_header {
    transition: top 0.8s ease-out;
  }
}
.l_header_blue {
  background: var(--primary-color);
}
@media screen and (min-width: 1080px) {
  .l_header_blue {
    background: none;
  }
}
.l_header_logo {
  font-family: var(--font-family-en);
  font-size: 20px;
  font-weight: 500;
  flex-grow: 1;
}
@media screen and (min-width: 1080px) {
  .l_header_logo {
    font-size: 40px;
  }
}
.l_header_nav {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media screen and (min-width: 1080px) {
  .l_header_nav {
    opacity: 1;
    visibility: visible;
    pointer-events: none;
    width: 100%;
  }
}

.l_header_nav-list {
  position: absolute;
  top: calc(58px + 25px + 64px);
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}
@media screen and (min-width: 1080px) {
  .l_header_nav-list {
    position: static;
    display: flex;
    gap: 8px;
    width: auto;
    transform: none;
  }
}
.l_header_nav-item {
  position: relative;
}
.l_header_nav-item::before {
  content: "";
  background: url(../img/arrow.svg) no-repeat center / cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.l_header_nav-item::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--black-color);
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1080px) {
  .l_header_nav-item::before,
  .l_header_nav-item::after {
    display: none;
  }
}
.l_header_nav-item:last-child::after {
  display: none;
}
.l_header_nav-item:not(:first-child) {
  margin-top: 32px;
}
@media screen and (min-width: 1080px) {
  .l_header_nav-item:not(:first-child) {
    margin-top: 0;
  }
}
.l_header_nav-link {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 1080px) {
  .l_header_nav-link {
    flex-direction: column;
    gap: 8px;
  }
}
.l_header_nav-icon-wrapper {
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 1080px) {
  .l_header_nav-icon-wrapper {
    width: 24px;
    height: 24px;
  }
}
.l_header_nav-icon {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1080px) {
  .l_header_nav-link-txt {
    font-size: 10px;
    width: 60px;
    text-align: center;
  }
}

.l_header_btn {
  font-size: 12px;
}
@media screen and (min-width: 1080px) {
  .l_header_btn {
    margin-left: 20px;
  }
}
.l_header_bg {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 1080px) {
  .l_header_bg {
    opacity: 0;
    visibility: hidden;
  }
}
.is-resize .l_header_bg {
  transition: opacity 0.8s ease;
}

/* footer */

.l_footer {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .l_footer {
    padding: 0;
  }
}
.l_footer-inner {
  max-width: 1080px;
  background: var(--white-color);
  border-radius: 30px;
  padding: 24px 16px;
  margin-top: 40px;
}
.l_footer-inner__blue {
  background: var(--primary-color);
}

.l_footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .l_footer-box,
  .l_footer_nav,
  .l_footer_sns {
    max-width: 960px;
    margin: 0 auto;
  }
}
.l_footer_logo {
  font-family: var(--font-family-en);
  font-size: 24px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .l_footer_logo {
    font-size: 32px;
  }
}
.l_footer_btn {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .l_footer_btn {
    font-size: 14px;
    position: absolute;
    right: 60px;
    top: 24px;
  }
}
.l_footer_nav {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .l_footer_nav {
    margin-top: 4px;
  }
}
.l_footer_nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .l_footer_nav-list {
    gap: 16px;
  }
}
.l_footer_nav-item {
  flex-shrink: 0;
  width: 130px;
}
@media screen and (min-width: 768px) {
  .l_footer_nav-item {
    width: auto;
  }
}

.l_footer_sns {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .l_footer_sns {
    margin-top: 8px;
  }
}
.l_footer_x-wrapper {
  width: 20px;
}
.l_footer_insta-wrapper {
  width: 25px;
}

.l_footer_legal {
  padding: 32px 0;
  text-align: center;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .l_footer_legal {
    padding: 40px 0;
  }
}
.l_footer_legal-link {
  text-decoration: underline;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .l_footer_legal-link,
  .l_footer_legal-copyright {
    font-size: 14px;
  }
}
/* ----------module---------- */

/* ハンバーガー */
.m_hamburger {
  width: 25px;
  height: 16px;
  position: relative;
  margin-left: 12px;
}

@media screen and (min-width: 1080px) {
  .m_hamburger {
    display: none;
  }
}

.m_hamburger-bar {
  width: 100%;
  height: 1px;
  position: absolute;
  background: var(--black-color);
  left: 50%;
  transition: all 0.3s;
}

.m_hamburger-bar:first-child {
  top: 0;
  transform: translate(-50%, 0);
}

.m_hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.m_hamburger-bar:last-child {
  top: 100%;
  transform: translate(-50%, -100%);
}

/* ボタン */
.m_btn {
  border-radius: 100vh;
  background: var(--accent-color);
  color: var(--white-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 22px;
}
.m_btn__mail::before,
.m_btn__footer::before {
  content: "";
  background: url(../img/mail_icon.svg) no-repeat center / cover;
  width: 16px;
  height: 13px;
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .m_btn__footer {
    padding: 16px 40px;
  }
  .m_btn__footer::before {
    width: 50px;
    height: 40px;
  }
}

.m_btn__more::after {
  content: "";
  mask: url(../img/arrow.svg) no-repeat center / cover;
  width: 14px;
  height: 14px;
  margin-left: 8px;
  background-color: var(--white-color);
}
.m_btn__site {
  padding: 12px 56px;
}
.m_btn__site::after {
  content: "";
  background: url(../img/site_icon.svg) no-repeat center / cover;
  width: 14px;
  height: 14px;
  margin-left: 8px;
}

.m_link {
  color: var(--accent-color);
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.m_link::after {
  content: "";
  background: url(../img/arrow.svg) no-repeat center / cover;
  width: 15px;
  height: 15px;
  margin-left: 4px;
}

/* セクションタイトル */
.m_section_ttl {
  font-family: var(--font-family-head);
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .m_section_ttl {
    font-size: 24px;
  }
}
.m_section_ttl::before {
  display: block;
  font-size: 48px;
  font-weight: bold;
  color: var(--auxiliary-color);
  font-family: var(--font-family-head);
}
@media screen and (min-width: 768px) {
  .m_section_ttl::before {
    font-size: 64px;
  }
}
.m_section_ttl__concept::before {
  content: "concept";
}
.m_section_ttl__service::before {
  content: "service";
}
.m_section_ttl__about::before {
  content: "about";
}
.m_section_ttl__works::before {
  content: "works";
}
.m_section_ttl__process::before {
  content: "process";
}
.m_section_ttl__pricing::before {
  content: "pricing";
}
.m_section_ttl__faq::before {
  content: "Q&A";
}

.m_section_ttl__flow::before {
  content: "flow";
}
.m_section_ttl__schedule::before {
  content: "schedule";
}
.m_section_ttl__price::before {
  content: "price";
}

/* svg背景 */
.m_svg {
  fill: var(--white-color);
  position: absolute;
  left: 0;
  width: 100%;
  transform: translateY(-1px);
}
.m_svg_blue {
  fill: var(--primary-color);
  transition: fill 0.6s ease;
}

.m_svg_bg-top {
  top: -25px;
  transform: rotate(180deg) translateY(-1px);
}
.m_svg_bg-bottom {
  bottom: -25px;
}
.m_white_bg {
  position: relative;
  background: var(--white-color);
  margin: 25px 0;
}

/* cta */
.m_cta {
  background: url(../img/bubble-cta-sp.svg) no-repeat center center / auto 680px;
  width: 100%;
  height: 680px;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) {
  .m_cta {
    background: url(../img/bubble-cta-pc.webp) no-repeat center center / 1080px
      550px;
  }
}
.m_cta-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
}
@media screen and (min-width: 768px) {
  .m_cta-inner {
    max-width: 700px;
  }
}
@media screen and (min-width: 1080px) {
  .m_cta-inner {
    max-width: 800px;
  }
}
.m_cta_lead {
  font-family: var(--font-family-head);
  font-size: 24px;
  font-weight: bold;
}
@media screen and (min-width: 1080px) {
  .m_cta_lead {
    font-size: 32px;
  }
}
.m_cta_dotted-line {
  margin-top: 8px;
  height: 1px;
  background-image: repeating-linear-gradient(
    to right,
    var(--black-color),
    var(--black-color) 8px,
    transparent 8px,
    transparent 12px
  );
}

@media screen and (min-width: 768px) {
  .m_cta_msg-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: row-reverse;
    margin-top: 24px;
  }
}
.m_cta_img-wrapper {
  max-width: 400px;
  margin: 24px auto 0;
}
@media screen and (min-width: 768px) {
  .m_cta_img-wrapper {
    width: 330px;
  }
}
@media screen and (min-width: 768px) {
  .m_cta_img-wrapper {
    margin-top: 0;
  }
}
.m_cta_msg {
  margin-top: 12px;
  font-size: 16px;
}
@media screen and (min-width: 1080px) {
  .m_cta_msg {
    font-size: 18px;
    line-height: 2;
  }
}

/* 下層kv */
.m_kv {
  position: relative;
  top: calc(84px + 24px + 64px);
  font-family: var(--font-family-head);
  padding: 0 16px;
  background-color: var(--white-color);
  height: 245px;
}
.m_kv_blue {
  background: var(--primary-color);
}
.m_kv_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 16px;
}
.m_kv_head {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  /* position: relative; */
}
.m_kv_head::after {
  /* position: relative; */
  display: block;
  color: var(--auxiliary-color);
  font-size: 20px;
}
.m_kv_head__works::after {
  content: "works";
}
.m_kv_head__process::after {
  content: "process";
}
.m_kv_dotted-line {
  margin: 24px auto 0;
  width: 80%;
  height: 1px;
  background-image: repeating-linear-gradient(
    to right,
    var(--black-color),
    var(--black-color) 8px,
    transparent 8px,
    transparent 12px
  );
}
.m_kv_msg {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 80%;
  margin: 16px auto 0;
}

/* accent */
.m_txt_accent {
  color: var(--accent-color);
  font-weight: bold;
}

/* dot */
.m_dot_txt {
  position: relative;
}
.m_dot_txt::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 10px;
  background: radial-gradient(
    circle 5px,
    var(--accent-color) 50%,
    transparent 50%
  );
}
@media screen and (min-width: 1080px) {
  .m_dot_txt::before {
    background: radial-gradient(
      circle 10px,
      var(--accent-color) 50%,
      transparent 50%
    );
  }
}

/* pagination */
.m_pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 120px;
}
.m_pagination_numbers {
  font-weight: bold;
  font-size: 18px;
}
.m_pagination_numbers__current {
  width: 40px;
  height: 40px;
  background: var(--accent-color);
  color: var(--white-color);
  border-radius: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.m_pagination_numbers__arrow {
  padding-bottom: 4px;
}

/* ----------top---------- */

.top_kv {
  height: calc(100vh - 100px);
  font-family: var(--font-family-head);
  padding: 0 16px;
  background-color: var(--white-color);
  position: relative;
}
@media screen and (min-width: 1080px) {
  .top_kv {
    background-color: transparent;
    background: url(../img/bubble-kv.webp) no-repeat center 24px / contain;
    position: relative;
    width: 1080px;
    height: 626px;
    margin: 0 auto;
  }
}
.top_kv_box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  z-index: var(--z-index-page-top);
}
@media screen and (min-width: 1080px) {
  .top_kv_box {
    width: 100%;
    max-width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.top_kv_copy {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 1080px) {
  .top_kv_copy {
    font-size: 40px;
  }
}
.top_kv_msg-inner {
  margin-top: 80px;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 1080px) {
  .top_kv_msg {
    font-size: 16px;
    background-image: linear-gradient(
      transparent 0%,
      transparent 75%,
      rgba(109 124 128 / 0.2) 75%,
      rgba(109 124 128 / 0.2) 100%
    );
    display: inline-block;
  }
}
.top_kv_msg:not(:first-child) {
  margin-top: 16px;
}
@media screen and (min-width: 1080px) {
  .top_kv_msg:not(:first-child) {
    margin-top: 8px;
  }
}
.top_kv_bg {
  top: 100%;
}

/* スクロールダウン */
.top_scroll_down {
  position: absolute;
  bottom: 16px;
  left: 50%;
}
.top_scroll_down-txt {
  position: absolute;
  left: 4px;
  bottom: 95px;
  color: var(--auxiliary-color);
  font-size: 12px;
  font-family: var(--font-family-en);
  letter-spacing: 0.2em;
  writing-mode: vertical-lr;
}
.top_scroll_down:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 11px;
  height: 11px;
  border-radius: 100vh;
  background: var(--auxiliary-color);
  animation: circlemove 3s ease-in-out infinite,
    cirlemovehide 3s ease-out infinite;
}
@keyframes circlemove {
  0% {
    bottom: 160px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.top_scroll_down:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 160px;
  background: var(--auxiliary-color);
}

/* top_concept */
.top_concept {
  margin-top: 140px;
}
@media screen and (min-width: 1080px) {
  .top_concept {
    margin-top: 0;
  }
}
.top_concept_content-box {
  margin-top: 84px;
}
@media screen and (min-width: 1080px) {
  .top_concept_content-box {
    margin-top: 100px;
  }
}
.top_concept_content:not(:first-child) {
  margin-top: 84px;
}
@media screen and (min-width: 768px) {
  .top_concept_content {
    display: flex;
    gap: 40px;
  }
  .top_concept_content:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
  .top_concept_content:not(:first-child) {
    margin-top: 120px;
  }
}

.top_concept_head {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  padding-left: 16px;
}
@media screen and (min-width: 1080px) {
  .top_concept_head {
    font-size: 24px;
  }
}
.top_concept_head::before {
  font-size: 40px;
  opacity: 0.2;
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: bold;
}
@media screen and (min-width: 1080px) {
  .top_concept_head::before {
    font-size: 64px;
  }
}
.top_concept_head__1::before {
  content: "01";
}
.top_concept_head__2::before {
  content: "02";
}
.top_concept_head__3::before {
  content: "03";
}

.top_concept_txt {
  line-height: 2;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .top_concept_txt {
    padding-left: 16px;
    width: 560px;
  }
}
@media screen and (min-width: 1080px) {
  .top_concept_txt {
    font-size: 16px;
    width: 560px;
  }
}

.top_concept_img-wrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  .top_concept_img-wrapper {
    display: block;
    width: 150px;
  }
}
@media screen and (min-width: 1080px) {
  .top_concept_img-wrapper {
    width: 200px;
  }
}

/* top_service */

.top_service_content-box {
  margin-top: 64px;
}
@media screen and (min-width: 1080px) {
  .top_service_content-box {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    justify-content: center;
    position: relative;
    margin-top: 40px;
  }
  .top_service_content-box::before,
  .top_service_content-box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--black-color);
  }
  .top_service_content-box::before {
    width: 100%;
    height: 0.5px;
  }
  .top_service_content-box::after {
    width: 0.5px;
    height: 100%;
  }
}

.top_service_content:not(:first-child) {
  margin-top: 56px;
}
@media screen and (min-width: 1080px) {
  .top_service_content:not(:first-child) {
    margin-top: 0;
  }
}
.top_service_content {
  display: table;
  margin: 0 auto;
}
@media screen and (min-width: 1080px) {
  .top_service_content {
    max-width: 368px;
  }
}

.top_service_head {
  text-align: center;
  font-weight: bold;
}
.top_service_head-num {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
  color: var(--auxiliary-color);
}
@media screen and (min-width: 1080px) {
  .top_service_head-num {
    font-size: 24px;
  }
}
.top_service_head-num::before {
  content: "";
  position: absolute;
  background: url(../img/bubble-num.svg) no-repeat center / cover;
  width: 36px;
  height: 39px;
}
@media screen and (min-width: 1080px) {
  .top_service_head-num::before {
    width: 45px;
    height: 49px;
  }
}
/* 数字自体の余白を調整 */
.top_service_head-inner {
  margin-bottom: 4px; /* 吹き出し内で下げる */
}
@media screen and (min-width: 1080px) {
  .top_service_head-inner {
    margin-bottom: 8px; /* 吹き出し内で下げる */
  }
}

.top_service_head-txt {
  font-size: 16px;
  margin-top: 4px;
  letter-spacing: 0.1em;
  display: inline-block;
}
@media screen and (min-width: 1080px) {
  .top_service_head-txt {
    font-size: 20px;
    margin-top: 12px;
  }
}

.top_service_img-wrapper {
  width: 150px;
  height: 150px;
  margin: 12px auto 0 auto;
}
.top_service_img {
  width: 100%;
  height: 100%;
}

.top_service_txt {
  margin-top: 12px;
  line-height: 1.8;
}
@media screen and (min-width: 1080px) {
  .top_service_txt {
    font-size: 16px;
  }
}

.top_service_example {
  font-size: 12px;
  margin-top: 8px;
}
@media screen and (min-width: 1080px) {
  .top_service_example {
    font-size: 14px;
    margin-top: 8px;
  }
}

.top_service_note {
  font-weight: 500;
  letter-spacing: 0.1em;
  display: table;
  margin: 56px auto 0;
}
@media screen and (min-width: 1080px) {
  .top_service_note {
    text-align: center;
    font-size: 16px;
    margin-top: 64px;
  }
}

.top_service_btn {
  margin-top: 40px;
  text-align: center;
}

/* top_about */
.top_about_desc {
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .top_about_desc {
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
}
.top_about_img-wrapper {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .top_about_img-wrapper {
    flex-shrink: 0;
  }
}
.top_about_img {
  width: 100%;
  height: 100%;
}
.top_about_txts {
  margin: 32px auto 0;
  max-width: 536px;
}
@media screen and (min-width: 1080px) {
  .top_about_txts {
    font-size: 16px;
  }
}
.top_about_txt:not(:first-child) {
  margin-top: 24px;
}

/* top_works */
.top_works_content-box {
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .top_works_content-box {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 40px;
  }
  .top_works_content {
    width: 300px;
  }
}
.top_works_link:not(:first-child) {
  margin-top: 56px;
  display: block;
}
@media screen and (min-width: 768px) {
  .top_works_link:not(:first-child) {
    margin-top: 0;
  }
}
.top_works_desc {
  margin-top: 16px;
}
.top_works_client {
  font-size: 12px;
}
@media screen and (min-width: 1080px) {
  .top_works_client {
    font-size: 14px;
  }
}
.top_works_title {
  font-weight: bold;
}
@media screen and (min-width: 1080px) {
  .top_works_title {
    font-size: 16px;
  }
}
.top_works_tug {
  font-size: 12px;
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.top_works_tug::before {
  content: "";
  background: url(../img/tug_icon.svg) no-repeat center / cover;
  width: 15px;
  height: 15px;
  margin-right: 4px;
}
.top_works_more {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.top_works_btn {
  margin-top: 64px;
  text-align: center;
}

/* top_proces */
.top_process_content-box {
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .top_process_content-box {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}
.top_process_content {
  text-align: center;
  position: relative;
}
.top_process_content::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 24px;
  width: 1px;
  height: 80px;
  background-color: var(--auxiliary-color);
}
@media screen and (min-width: 768px) {
  .top_process_content::before {
    display: none;
  }
}
.top_process_content:last-child:before {
  display: none;
}

.top_process_content:not(:first-child) {
  padding-top: calc(80px + 24px + 32px);
  /* 棒の長さ + 棒とテキストの余白 + content同士の余白 */
}
@media screen and (min-width: 768px) {
  .top_process_content:not(:first-child) {
    padding-top: 0;
  }
}

.top_process_num {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
  width: 45px;
  height: 45px;
  background: var(--auxiliary-color);
  border-radius: 100vh;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top_process_num {
    font-size: 24px;
  }
  .top_process_num::before {
    content: "";
    width: 80px;
    height: 1px;
    background: var(--auxiliary-color);
    position: absolute;
    top: 50%;
    left: 92px;
    transform: translateY(-50%);
  }
  .top_process_content:last-of-type .top_process_num::before {
    display: none;
  }
}
@media screen and (min-width: 1080px) {
  .top_process_num::before {
    width: 120px;
  }
}

.top_process_img-wrapper {
  height: 100px;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .top_process_img-wrapper {
    margin-top: 20px;
  }
}
.top_process_img {
  height: 100%;
  width: auto;
}
.top_process_head {
  font-weight: bold;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .top_process_head {
    font-size: 16px;
  }
}

.top_process_note {
  margin-top: 56px;
}
@media screen and (min-width: 768px) {
  .top_process_note {
    text-align: center;
  }
}
.top_process_btn {
  margin-top: 64px;
  text-align: center;
}

/* top_pricing */
.top_pricing_note {
  margin-top: 64px;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .top_pricing_note {
    margin-top: 40px;
    font-size: 16px;
  }
}

.top_pricing_content-box {
  margin-top: calc(56px + 20px);
  /* 空けたい余白 + 01おすすめのテキスト分 */
}
@media screen and (min-width: 768px) {
  .top_pricing_content-box {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: calc(24px + 20px);
    /* 空けたい余白 + 01おすすめのテキスト分 */
  }
}

.top_pricing_content:not(:first-child) {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .top_pricing_content:not(:first-child) {
    margin-top: 0;
  }
}
.top_pricing_num {
  width: 45px;
  height: 45px;
  background: var(--auxiliary-color);
  border-radius: 100vh;
  font-size: 20px;
  font-weight: bold;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  z-index: var(--z-index-default);
}
@media screen and (min-width: 768px) {
  .top_pricing_num {
    font-size: 24px;
  }
}
.top_pricing_num__accent {
  background: var(--accent-color);
}

.top_pricing_circle {
  width: 100px;
  height: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top_pricing_circle-svg {
  overflow: visible;
}
.top_pricing_circle-path {
  fill: none;
}
.top_pricing_circle-txt {
  fill: var(--accent-color);
  font-size: 10px;
}

.top_pricing_inner {
  position: relative;
  padding: 12px 16px 24px;
}
@media screen and (min-width: 768px) {
  .top_pricing_inner {
    width: 240px;
  }
}

.top_pricing_inner::before {
  content: "";
  position: absolute;
  border: 2px solid var(--auxiliary-color);
  top: -22.5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: calc(100% + 22.5px); /* 上に伸ばす分含める */
  border-radius: 20px;
}

.top_pricing_inner__accent::before {
  border-color: var(--accent-color);
}

.top_pricing_head {
  text-align: center;
  margin-top: 12px;
}
.top_pricing_head-sub,
.top_pricing_head-main {
  display: block; /* ←ブロックにすることで縦並びに */
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
    transparent 0%,
    transparent 75%,
    rgba(109 124 128 / 0.2) 75%,
    rgba(109 124 128 / 0.2) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.top_pricing_head-sub__accent,
.top_pricing_head-main__accent {
  background-image: linear-gradient(
    transparent 0%,
    transparent 75%,
    rgba(201 117 98 / 0.2) 75%,
    rgba(201 117 98 / 0.2) 100%
  );
}

.top_pricing_head-sub {
  font-size: 12px;
}
@media screen and (min-width: 1080px) {
  .top_pricing_head-sub {
    font-size: 14px;
  }
}
.top_pricing_head-main {
  font-size: 16px;
  margin-top: 4px;
}
@media screen and (min-width: 1080px) {
  .top_pricing_head-main {
    font-size: 20px;
  }
}

.top_pricing_price {
  margin-top: 8px;
  color: var(--auxiliary-color);
  text-align: center;
  font-weight: bold;
}
.top_pricing_price__accent {
  color: var(--accent-color);
}

.top_pricing_price-symbol {
  font-size: 24px;
}
.top_pricing_price-value {
  font-size: 36px;
}
.top_pricing_price-unit {
  font-size: 16px;
}

.top_pricing_msg {
  margin-top: 8px;
  text-align: center;
}
@media screen and (min-width: 1080px) {
  .top_pricing_msg {
    font-size: 16px;
  }
}

.top_pricing_supplement {
  text-align: center;
  margin-top: 56px;
  letter-spacing: 0.1em;
}
.top_pricing_supplement-head {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 1080px) {
  .top_pricing_supplement-head {
    font-size: 18px;
  }
}
.top_pricing_supplement-desc {
  margin-top: 8px;
}
@media screen and (min-width: 1080px) {
  .top_pricing_supplement-desc {
    font-size: 16px;
  }
}

.top_pricing_btn {
  margin-top: 64px;
  text-align: center;
}

/* top_faq */
.top_faq_btn {
  background-color: var(--white-color);
  border-radius: 20px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  text-align: left;
}

.top_faq_btn:hover {
  box-shadow: 0 8px 6px -5px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.top_faq_btn:first-child {
  margin-top: 56px;
}

.top_faq_btn:not(:first-child) {
  margin-top: 24px;
}

@media screen and (min-width: 1080px) {
  .top_faq_btn:not(:first-child) {
    margin-top: 32px;
  }
}

.top_faq_content {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1080px) {
  .top_faq_content {
    padding: 16px 24px;
  }
}

.top_faq_icon {
  font-family: "Simonetta", serif;
  display: flex;
  justify-content: center;
  /* 横中央 */

  width: 35px;
  height: 35px;
  font-size: 18px;
}

@media screen and (min-width: 1080px) {
  .top_faq_icon {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }
}

.top_faq_icon__q {
  color: var(--white-color);
  border-radius: 100%;
  background-color: var(--accent-color);
  align-items: center;
  /* 縦中央 */
  padding-bottom: 2px;
}

.top_faq_icon__a {
  color: var(--accent-color);
  line-height: 1;
  padding-top: 2.5px;
}

.top_faq_txt {
  margin-left: 16px;
  width: calc(100% - 35px - 16px);
}

.top_faq_txt__q {
  font-size: 16px;
}
@media screen and (min-width: 1080px) {
  .top_faq_txt__q {
    font-size: 20px;
  }
  .top_faq_txt__a {
    font-size: 16px;
  }
}

.top_faq_arrow {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  position: relative;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.top_faq_arrow::before {
  content: "";
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--black-color);
  border-right: 1px solid var(--black-color);
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.top_faq_arrow.js_faq_mark.is-open {
  transform: rotate(90deg) translate(50%, 50%);
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.top_faq_open {
  position: relative;
}

.top_faq_open::before {
  content: "";
  position: absolute;
  width: calc(100% - 16px * 2);
  height: 1px;
  background-color: var(--accent-color);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 1080px) {
  .top_faq_open::before {
    width: calc(100% - 24px * 2);
  }
}

.top_faq_content__a {
  align-items: flex-start;
}

/* ---------- 下層ページ共通 ---------- */
.kasou_main {
  margin-top: 195px;
}

/* ---------- works ---------- */

.works_link {
  position: relative;
  display: block;
}
.works_link::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--auxiliary-color);
}
@media screen and (min-width: 768px) {
  .works_link::after {
    bottom: -60px;
  }
}
.works_link:last-child::after {
  display: none;
}
.works_link:not(:first-child) {
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .works_link:not(:first-child) {
    margin-top: 120px;
  }
}
.works_content {
  position: relative;
}
@media screen and (min-width: 768px) {
  .works_content {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  .works_link:nth-of-type(2n) .works_content {
    flex-direction: row-reverse;
  }
}
.works_thumb-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.works_desc {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .works_desc {
    width: 80%;
  }
}
.works_client {
  font-size: 12px;
}
@media screen and (min-width: 1080px) {
  .works_client {
    font-size: 14px;
  }
}
.works_title {
  font-weight: bold;
}
@media screen and (min-width: 1080px) {
  .works_title {
    font-size: 16px;
    margin-top: 4px;
  }
}
.works_lead {
  margin-top: 12px;
}
@media screen and (min-width: 1080px) {
  .works_lead {
    font-size: 16px;
  }
}
.works_tug {
  font-size: 12px;
  margin-top: 24px;
  display: flex;
  align-items: center;
}
.works_tug::before {
  content: "";
  background: url(../img/tug_icon.svg) no-repeat center / cover;
  width: 15px;
  height: 15px;
  margin-right: 4px;
}
.works_more {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* ---------- works-single ---------- */

.works-single_thumb-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (min-width: 1080px) {
  .works-single_thumb-wrapper {
    max-width: 800px;
  }
}
.works-single_desc {
  margin: 40px auto 0;
  display: table;
  letter-spacing: 0.1em;
  max-width: 600px;
}
@media screen and (min-width: 1080px) {
  .works-single_client {
    font-size: 16px;
  }
}
.works-single_title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
}
@media screen and (min-width: 1080px) {
  .works-single_title {
    font-size: 18px;
  }
}
.works-single_lead {
  margin-top: 12px;
}
@media screen and (min-width: 1080px) {
  .works-single_lead {
    font-size: 16px;
  }
}
.works-single_table {
  display: table;
  margin: 56px auto 0;
  padding: 0 16px;
  border-collapse: separate;
  border-spacing: 0 32px; /* ← 上下の余白、左右なら 16px 0 */
  width: 100%;
  max-width: 600px;
  table-layout: fixed;
  line-height: 1.8;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 1080px) {
  .works-single_table {
    font-size: 16px;
  }
}
.works-single_tr::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: var(--auxiliary-color);
}
.works-single_th {
  font-weight: bold;
  width: 30%;
}
.works-single_td {
  width: 70%;
}
.works-single_th,
.works-single_td {
  vertical-align: top;
  position: relative;
}
.works-single_th::after,
.works-single_td::after {
  content: "";
  height: 1px;
  width: 100%;
  background: var(--auxiliary-color);
  position: absolute;
  bottom: -16px;
  left: 0;
}
.works-single_tr:last-child .works-single_th::after,
.works-single_tr:last-child .works-single_td::after {
  display: none;
}
.works-single_td-dot {
  display: block;
  position: relative;
  padding-left: 10px;
}
@media screen and (min-width: 1080px) {
  .works-single_td-dot {
    padding-left: 16px;
  }
}
.works-single_td-dot::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 4px;
  height: 4px;
  border-radius: 100vh;
  background: var(--auxiliary-color);
}
@media screen and (min-width: 1080px) {
  .works-single_td-dot::before {
    top: 11px;
    width: 6px;
    height: 6px;
  }
}
.works-single_btn {
  text-align: center;
  margin-top: 32px;
}
.works-single_preview {
  padding-bottom: 80px;
}

/* ---------- process ---------- */

/* process_flow */
.process_flow_content-box {
  margin-top: 40px;
}
.process_flow_content {
  position: relative;
}
.process_flow_content:not(:first-child) {
  margin-top: 64px;
}
@media screen and (min-width: 1080px) {
  .process_flow_content:not(:first-child) {
    margin-top: 80px;
  }
}
.process_flow_content::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 150px;
  opacity: 0.1;
}
@media screen and (min-width: 1080px) {
  .process_flow_content::before {
    width: 180px;
    height: 180px;
    opacity: 0.2;
  }
}
.process_flow_content__01::before {
  background: url(../img/process_img01.webp) no-repeat center bottom / contain;
}
.process_flow_content__02::before {
  background: url(../img/process_img02.webp) no-repeat center bottom / contain;
}
.process_flow_content__03::before {
  background: url(../img/process_img03.webp) no-repeat center bottom / contain;
}
.process_flow_content__04::before {
  background: url(../img/process_img04.webp) no-repeat center bottom / contain;
}
.process_flow_head {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}
.process_flow_head-num {
  color: var(--white-color);
  width: 35px;
  height: 35px;
  background: var(--auxiliary-color);
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1080px) {
  .process_flow_head-num {
    font-size: 18px;
    width: 40px;
    height: 40px;
  }
}
.process_flow_head-txt {
  margin-left: 8px;
}
@media screen and (min-width: 1080px) {
  .process_flow_head-txt {
    font-size: 18px;
  }
}
.process_flow_main {
  margin-top: 16px;
}
@media screen and (min-width: 1080px) {
  .process_flow_main {
    font-size: 16px;
  }
}
.process_flow_sub {
  font-size: 12px;
  margin-top: 4px;
}
@media screen and (min-width: 1080px) {
  .process_flow_sub {
    font-size: 14px;
  }
}

/* process_schedule */
.process_schedule_content-box {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
  .process_schedule_content-box {
    gap: 0 24px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.process_schedule_head {
  width: 200px;
  height: 40px;
  background: var(--auxiliary-color);
  border-radius: 100vh;
  font-size: 16px;
  font-weight: bold;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  z-index: var(--z-index-default);
}
@media screen and (min-width: 768px) {
  .process_schedule_head {
    font-size: 18px;
    width: 225px;
    height: 50px;
  }
}
.process_schedule_txts {
  position: relative;
  padding: 28px 16px;
  border: 2px solid var(--auxiliary-color);
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-radius: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .process_schedule_txts {
    top: -25px;
    padding-top: 33px;
  }
}
.process_schedule_term {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .process_schedule_term {
    font-size: 18px;
  }
}
.process_schedule_desc {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .process_schedule_desc {
    font-size: 16px;
  }
}
.process_schedule_note {
  margin-top: 32px;
  text-align: center;
}
@media screen and (min-width: 1080px) {
  .process_schedule_note {
    font-size: 16px;
  }
}

/* process_price */
.process_price_content-box {
  margin-top: 32px;
}
.process_price_content {
  padding: 24px;
  background: var(--white-color);
  border-radius: 30px;
  display: flex;
  gap: 16px;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .process_price_content {
    padding: 40px;
  }
}
.process_price_content:not(:first-child) {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .process_price_content:not(:first-child) {
    margin-top: 40px;
  }
}
.process_price_circle {
  width: clamp(80px, 20vw, 150px);
  height: clamp(80px, 20vw, 150px);
  font-size: 10px;
  font-weight: bold;
  position: relative;
  padding-top: 5px; /* テキスト半分 */
}
.process_price_svg {
  overflow: visible;
}
.process_price_path {
  fill: none;
}
.process_price_txt {
  fill: var(--auxiliary-color);
}
.process_price_txt__accent {
  fill: var(--accent-color);
}
.process_price_head {
  width: clamp(80px, 20vw, 140px);
  height: clamp(80px, 20vw, 140px);
  background: var(--auxiliary-color);
  border-radius: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .process_price_head {
    font-size: 20px;
  }
}
.process_price_head__accent {
  background: var(--accent-color);
}
.process_price_head-small {
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .process_price_head-small {
    font-size: 16px;
  }
}
.process_price_item {
  display: flex;
  gap: 16px;
}
.process_price_item:not(:first-child) {
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .process_price_item:not(:first-child) {
    margin-top: 20px;
  }
}
.process_price_item-label {
  font-size: 12px;
  width: 110px;
}
@media screen and (min-width: 768px) {
  .process_price_item-label {
    font-size: 16px;
    width: 300px;
  }
}
.process_price_item-desc {
  display: block;
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .process_price_item-desc {
    display: inline;
    font-size: 16px;
  }
}
.process_price_item-dot {
  display: none;
}
@media screen and (min-width: 500px) {
  .process_price_item-dot {
    display: block;
  }
}
.process_price_item-price {
  font-weight: bold;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .process_price_item-price {
    font-size: 16px;
  }
}
.process_price_item-note {
  font-size: 10px;
  width: 180px;
}
@media screen and (min-width: 500px) {
  .process_price_item-note {
    width: 290px;
    margin-top: 12px;
  }
}
@media screen and (min-width: 768px) {
  .process_price_item-note {
    font-size: 14px;
    width: 100%;
  }
}

/* ---------- contact ---------- */

/* ---------- partner ---------- */

@media screen and (min-width: 1080px) {
  .partner_bg {
    bottom: -39px;
  }
}
.partner_kv {
  background: var(--white-color);
  position: relative;
  padding: 83px 16px 0;
}
@media screen and (min-width: 1080px) {
  .partner_kv {
    padding: 164px 0 40px;
    display: flex;
  }
  .partner_kv_box {
    max-width: 1080px;
    margin: 0 auto;
  }
}
.partner_kv_head {
  font-family: var(--font-family-head);
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 1080px) {
  .partner_kv_head {
    font-size: 48px;
  }
}
.partner_kv_head-inner {
  background-image: linear-gradient(
    transparent 0%,
    transparent 75%,
    rgba(201 117 98 / 0.2) 75%,
    rgba(201 117 98 / 0.2) 100%
  );
}
.partner_kv_msg {
  margin-top: 16px;
}
@media screen and (min-width: 1080px) {
  .partner_kv_msg {
    font-size: 18px;
    margin-top: 32px;
  }
}
.partner_kv_btn {
  margin-top: 40px;
  text-align: center;
}
@media screen and (min-width: 1080px) {
  .partner_kv_btn {
    text-align: left;
  }
}
.partner_kv_img-wrapper {
  padding: 0 16px;
  margin-top: 12px;
}
@media screen and (min-width: 1080px) {
  .partner_kv_img-wrapper {
    max-width: 450px;
  }
}

/* paetner_section_ttl */
.paetner_section_ttl {
  font-family: var(--font-family-head);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--auxiliary-color);
}
@media screen and (min-width: 1080px) {
  .paetner_section_ttl {
    font-size: 40px;
  }
}
.paetner_section_ttl-small {
  font-size: 16px;
}
@media screen and (min-width: 1080px) {
  .paetner_section_ttl-small {
    font-size: 32px;
  }
}

/* paetner_worries */
.partner_worries_content-box {
  position: relative;
  margin-top: 16px;
}
@media screen and (min-width: 1080px) {
  .partner_worries_content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 40px;
  }
}
.partner_worries_content {
  position: relative;
  z-index: var(--z-index-page-top);
}
@media screen and (min-width: 1080px) {
  .partner_worries_content {
    max-width: 600px;
  }
}
.partner_worries_msg {
  text-align: center;
  margin-top: 24px;
}
@media screen and (min-width: 1080px) {
  .partner_worries_msg {
    font-size: 18px;
    margin-top: 0;
  }
}
.partner_worries_txt {
  padding: 16px 32px 16px 40px;
  background: var(--white-color);
  border-radius: 50vh;
  position: relative;
  margin-top: 16px;
}
@media screen and (min-width: 1080px) {
  .partner_worries_txt {
    font-size: 16px;
  }
}
.partner_worries_txt__01 {
  margin-top: 64px;
}
@media screen and (min-width: 1080px) {
  .partner_worries_txt__01 {
    margin-top: 16px;
  }
}
.partner_worries_txt::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 100vh;
  background: var(--auxiliary-color);
}
@media screen and (min-width: 1080px) {
  .partner_worries_txt::before {
    width: 15px;
    height: 15px;
  }
}
.partner_worries_img-wrapper {
  position: absolute;
  top: 24px;
  left: -60px;
  opacity: 0.5;
  width: 268px;
  height: 430px;
}
@media screen and (min-width: 1080px) {
  .partner_worries_img-wrapper {
    position: static;
    opacity: 1;
    width: 200px;
    height: auto;
  }
}

/* paetner_service */
.partner_service_content-box {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 常に2列 */
  gap: 0 16px;
}
@media screen and (min-width: 1080px) {
  .partner_service_content-box {
    gap: 12px 24px;
  }
}
.partner_service_head {
  width: 120px;
  height: 30px;
  background: var(--auxiliary-color);
  border-radius: 100vh;
  font-size: 12px;
  font-weight: bold;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  z-index: var(--z-index-default);
}
.partner_service_head__accent {
  background: var(--accent-color);
}
@media screen and (min-width: 1080px) {
  .partner_service_head {
    font-size: 18px;
    width: 225px;
    height: 40px;
  }
}
.partner_service_inner {
  position: relative;
  padding: 24px 16px;
  border: 2px solid var(--auxiliary-color);
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 90%;
  border-radius: 20px;
}
.partner_service_inner__accent {
  border-color: var(--accent-color);
}
@media screen and (min-width: 1080px) {
  .partner_service_inner {
    top: -20px;
    padding-top: 40px;
  }
}
.partner_service_img-wrapper {
  height: 55px;
  position: relative;
}
@media screen and (min-width: 1080px) {
  .partner_service_img-wrapper {
    height: 80px;
  }
}
.partner_service_img-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: rgba(109 124 128 / 0.3);
  bottom: -16px;
}
.partner_service_img__accent::before {
  background: rgba(201 117 98 / 0.3);
}
@media screen and (min-width: 1080px) {
  .partner_service_img-wrapper::before {
    width: 280px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
  }
}
.partner_service_img {
  height: 100%;
}
.partner_service_txt {
  margin-top: 36px;
  font-size: 12px;
}
@media screen and (min-width: 1080px) {
  .partner_service_txt {
    font-size: 16px;
  }
}

/* paetner_price */
.partner_price_msg {
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}
@media screen and (min-width: 1080px) {
  .partner_price_msg {
    font-size: 18px;
  }
}
.partner_price_content-box {
  margin-top: 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1080px) {
  .partner_price_content-box {
    margin-top: 40px;
  }
}
.partner_price_content {
  width: calc((100% - 16px * 2) / 2);
  position: relative;
  margin-top: 14px; /* labelの半分 */
  background: var(--white-color);
  padding: 32px 0;
  border-radius: 20px;
}
@media screen and (min-width: 1080px) {
  .partner_price_content {
    margin-top: 20px;
  }
}
.partner_price_label {
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  color: var(--white-color);
  padding: 1px 16px 4px;
  background: var(--auxiliary-color);
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.partner_price_label__accent {
  background: var(--accent-color);
}
@media screen and (min-width: 1080px) {
  .partner_price_label {
    font-size: 18px;
    padding: 4px 20px 10px;
    top: -20px;
  }
}
.partner_price_txt {
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 1080px) {
  .partner_price_txt {
    font-size: 20px;
  }
}
.partner_price_symbol {
  font-weight: bold;
  padding-top: 12px;
}
@media screen and (min-width: 1080px) {
  .partner_price_symbol {
    font-size: 16px;
    padding-top: 10px;
  }
}
.partner_price_list {
  margin-top: 32px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .partner_price_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 46px;
    padding: 0 24px;
  }
}
.partner_price_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .partner_price_item {
    width: calc((100% - 56px) / 2);
    font-size: 16px;
  }
}
.partner_price_item:not(:first-child) {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .partner_price_item:not(:first-child) {
    margin-top: 0;
  }
}
.partner_price_item-label {
  width: 150px;
}
.partner_price_note {
  margin-top: 16px;
  font-size: 12px;
}
@media screen and (min-width: 1080px) {
  .partner_price_note {
    margin-top: 20px;
    font-size: 14px;
    padding: 0 24px;
  }
}

/* paetner_flow */
.partner_flow {
  margin-bottom: 120px;
}
.partner_flow_content-box {
  margin-top: 40px;
}
.partner_flow_content {
  display: flex;
  gap: 12px;
  position: relative;
  padding-bottom: 24px;
}
@media screen and (min-width: 1080px) {
  .partner_flow_content {
    padding-bottom: 40px;
    gap: 20px;
  }
}
.partner_flow_content:not(:first-child) {
  margin-top: 24px;
}
.partner_flow_content::before {
  content: "";
  position: absolute;
  top: 46px;
  left: 15px;
  width: 1px;
  bottom: 0;
  background: var(--auxiliary-color);
}
.partner_flow_content:last-child::before {
  display: none;
}
@media screen and (min-width: 1080px) {
  .partner_flow_content::before {
    top: 66px;
    left: 25px;
  }
}
.partner_flow_num {
  color: var(--white-color);
  font-size: 18px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  background: var(--auxiliary-color);
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
@media screen and (min-width: 1080px) {
  .partner_flow_num {
    font-size: 24px;
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1080px) {
  .partner_flow_desc {
    padding-top: 6px;
  }
}
.partner_flow_head {
  font-size: 18px;
  font-weight: bold;
  color: var(--auxiliary-color);
}
@media screen and (min-width: 1080px) {
  .partner_flow_head {
    font-size: 24px;
  }
}
.partner_flow_txt {
  font-weight: 500;
  margin-top: 16px;
}
@media screen and (min-width: 1080px) {
  .partner_flow_txt {
    font-size: 16px;
  }
}
.partner_flow_sub-txt {
  font-weight: normal;
  font-size: 12px;
  margin-top: 8px;
  display: block;
  line-height: 1.8;
}
@media screen and (min-width: 1080px) {
  .partner_flow_sub-txt {
    font-size: 14px;
  }
}

/* ---------- js ---------- */

.js_body.is-active {
  overflow: hidden;
  width: 100%;
}

/* hamburger*/
.js_hamburger.is-active .m_hamburger-bar:first-child {
  top: 50%;
  transform: translate(-50%, 0) rotate(45deg);
}
.js_hamburger.is-active .m_hamburger-bar:nth-child(2) {
  opacity: 0;
}
.js_hamburger.is-active .m_hamburger-bar:last-child {
  top: 50%;
  transform: translate(-50%, 0) rotate(-45deg);
}

.is-active .m_svg_blue,
.is-active .l_header {
  fill: var(--white-color);
  background: var(--white-color);
  transition: none;
}

.js_navigation {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--white-color);
  z-index: var(--z-index-back);
  transition: opacity 0.6s ease, transform 0.6s ease, visibility 0.3s ease;
  transform: scale(1.05);
}
.js_navigation.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: scale(1);
}
@media screen and (min-width: 1080px) {
  .js_navigation {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: static;
    height: auto;
    width: auto;
    background: transparent;
  }
}
.is-resize .js_navigation {
  transition: none;
}

/* header pc 固定 */
@media screen and (min-width: 1080px) {
  .js_header {
    transition: opacity 0.8s ease-in-out;
    opacity: 1;
  }

  .js_header.is-fixed {
    padding-top: 0;
    position: fixed;
    opacity: 1;
  }

  body.is-scrolled .js_header:not(.is-fixed) {
    opacity: 0;
  }
}

/* header　非表示 */
.js_header.is-hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

/* faq */
.js_faq-a {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
